
.board{
    width: 600px;
    height: 500px;
    background: #277714;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    top: 120px;
    box-shadow: inset 8px 8px 12px #000;
    padding: 10px 10px;
}


