
.game{
    width: 100%;
    position: relative;
    background: #663300;
    padding: 20px 20px 20px 100px;
}

.link_rules{
    width: 120px;
    height: 34px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 3px;
    position: absolute;
    right: 20px;
    top: 20px;
    text-decoration: none;
    background: #227771;
    text-align: center;
    line-height: 34px;
    color: #222;
    text-shadow: 1px 1px 1px black;
    box-shadow: 2px 2px 3px #000;
}

.link_rules:hover{
    transform: scale(1.1);
}

.cup{
    transform: scale(0.5);
    position: absolute;
    right: -150px;
    bottom: 50px;
    cursor: pointer;
}

.cup:hover{
    transform: scale(0.6);
}
